.App {
    text-align: center;
    display: block;
    content: center;
}

.btnResolver {
    display: block;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-weight: bold;
    margin: auto;
}
